*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montSerrat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #edf1f4;
}

input[type="checkbox"] {
    appearance: none;
    top: -30px;
    left: 35%;
    width: 100px;
    height: 50px;
    background: linear-gradient(91deg, #d7d7d7, #000);
    box-shadow: 10px 5px 10px rgba(40,44,47,0.5);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: .5s; 
    font-weight: 300;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    left: 4px;
    top: 5px;
    transition: .5s;
}

input[type="checkbox"]::after {
    content: "OFF";
    position: absolute;
    color: #000;
    font-size: 16px;
    left: 8px;
    top: 16px;
    transition: .5s;
}

input[type="checkbox"]:checked {
    background: linear-gradient(91deg, #000, #d7d7d7);
    
}

input[type="checkbox"]:checked:before {
    background: #000;
    left: 57.5px;
    
}
input[type="checkbox"]:checked:after {
    content: "ON";
    font-weight: 300;
    color: #fff;
    left: 64px;
}

.dark
{
    background: #282c2f;
}

.dark input[type="checkbox"] {
    box-shadow: -5px -5px 10px rgba(255,255,255,0.5);;
}

section{
    padding: 20px 20px;
}

.calculator{
    position: relative;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1), -15px -15px 20px #fffb;
}

.dark .calculator {
    background: #33393e;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.25), -15px -15px 20px rgba(255,255,255,0.1);
}

.calculator .buttons{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator .display{
    position: relative;
    grid-column: span 4;
    user-select: none;
    overflow: none;
    width: 100%;
    text-align: end;
    color: #0057ff;
    height: 100px;
    line-height: 110px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 20px #fff;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 20px;
    font-size: 1.7em;
    font-weight: 500;
}

.dark .calculator .display{
    background: #33393e;
    color: #ffc227;
    box-shadow: inset 15px 15px 20px rgba(0,0,0,0.5), inset -15px -15px 20px rgba(255,255,255,0.1);
}


.calculator .buttons span{
    position: relative;
    padding: 10px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 20px #fff;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #666;
    border: 2px solid #edf1f4;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),  -5px -5px 10px #fff;
    border-radius:  10px;
}

.dark .calculator .buttons span{
    color: #eee;
    border: 2px solid #111111;
    box-shadow: 5px 5px 10px rgba(50,50,50,0.25),  -5px -5px 10px rgba(255,255,255,0.1);
}

.calculator .buttons span:active{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1),
    inset -5px -5px 10px #fff;
    color: #1e003d ;
} 

.dark .calculator .buttons span:active{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.25), inset -5px -5px 10px rgba(255,255,255,0.1); 
}

.calculator .buttons span#clear{
    background: #31a935;
    color: #fff;
    border: 2px solid #edf1f4;
}

.dark .calculator .buttons span#clear{
    background: #1d401e;
}

.calculator .buttons span#erase{
    background: red;
    color: #fff;
    border: 2px solid #edf1f4;
}

.dark .calculator .buttons span#erase{
    background: #000;
}

.calculator .buttons span#equal{
    grid-row: span 2;
    background: #ffc227;
    color: #fff;
    border: 2px solid #edf1f4;
}

.dark .calculator .buttons span#equal{
    background: #a42900;
}

.dark .calculator .buttons span#clear,
.dark .calculator .buttons span#erase,
.dark .calculator .buttons span#equal {
    border: 2px solid #111111;
}

.dark .calculator .buttons span#clear:active,
.dark .calculator .buttons span#erase:active,
.dark .calculator .buttons span#equal:active {
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), 

}